.newClient  {
    // position: absolute;
    display: flex;
    display: inline-flex;
    align-items: center;
    // top: 6px;
    // top: 26px;
    height: 22px;
    // background: red;
    &.hidden {
        display: none;
    }
    input {
        margin-right: 1px;
    }
}