.rate {
    // display: inline-block;
    .name {
        display: inline-block;
        width: 110px;
        margin-left: 10px;
    }
    .value {
        display: inline-block;
        width: 55px;
    }
}