.orderlist {
    position: relative;
    // display: inline-block;
    width: fit-content;
    border: 1px dotted goldenrod;
    list-style: none;
    &.hidden {
        display: none;
    }
    li {
        color: red;
    }
}