.container {
  button {
    width: 70px;
    height: 30px;
    border-radius: 7px;
    background-color: rgb(186, 215, 245);
  }

  label {
    margin: 15px;
    display: inline-block;
    width: 50px;
    text-align: center;
    &.neg {
      background-color: #ff9999;
    }
    &.zero {
      background-color: #ccc;
    }
    &.pos {
      background-color: #99ff99;
    }
  }
}
