.newOrder {
    position: absolute;
    // top: 30px;
    left: 150px;
    border: 1px solid #ccc;
    padding: 1px;
    &.hidden {
        display: none;
    }
    div {
        // background: red;
        border: 1px solid #ccc;
        padding: 2px;
        margin-bottom: 2px;
        span:nth-of-type(1) {
            display: inline-block;
            width: 90px;
        }
        span:nth-of-type(2) {
            display: inline-block;
            width: 50px;
            font-size: 0.85rem;
            background: aquamarine;
        }
        input {
            width: 30px;
        }
    }
    div:nth-last-of-type(1) {
        display: flex;
        align-items: center;
        font-weight: bold;
        span:nth-of-type(1) {
            // color: rgb(94, 100, 33);
            background: #fff;
            border: 1px solid #888;
            border-radius: 2px;
        }
        span:nth-of-type(2) {
            background: inherit;
        }
    }
    footer {
        // background: red;
        display: flex;
        justify-content: right;
        align-items:flex-end;
        height: 35px;
        // line-height: 100%;
        button {
            width:70px;
            height: 24px;
        }
    }
}