.container {
  .test {
    width: 200px;
    height: 200px;
    // background: red;
    background-image: linear-gradient(
      90deg,
      #0002,
      #0008,
      #000f,
      #000f,
      #0008,
      #0002
    );
  }
}
