.container {
  .test {
    width: 200px;
    height: 200px;
    // background: red;
    background-image: linear-gradient(
      90deg,
      #0002,
      #0008,
      #000f,
      #000f,
      #0008,
      #0002
    );
  }
  .test2 {
    display: flex;
    justify-content: space-between;
    $hue: 205;
    $saturation: 100;
    $lightness: 70;

    $second-color: hsl($hue - 25, $saturation - 20, $lightness - 10);
    $third-color: hsl($hue - 15, $saturation - 10, $lightness - 10);
    $primary-color: hsl($hue, $saturation, $lightness);
    $fourth-color: hsl($hue + 15, $saturation - 15, $lightness);
    $fifth-color: hsl($hue + 25, $saturation - 35, $lightness - 15);
    div {
      width: 60px;
      height: 30px;
      &:nth-child(1) {
        background: $second-color;
        background: hsl(180deg, 80%, 60%);
      }
      &:nth-child(2) {
        background: $third-color;
        background: hsl(190deg, 90%, 60%);
      }
      &:nth-child(3) {
        background: $primary-color;
        background: hsl(205deg, 100%, 70%);
      }
      &:nth-child(4) {
        background: $fourth-color;
        background: hsl(220deg, 85%, 70%);
      }
      &:nth-child(5) {
        background: $fifth-color;
        background: hsl(230deg, 65%, 55%);
      }
    }
  }
  .test3 {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    div {
      width: 110px;
      height: 30px;
      $hue: 30;
      &:nth-child(1) {
        background: #33a3ee;
        background: hsl(204, 85%, 57%);
        background: hsl(204, 85%, 60%);
        background: hsl($hue, 85%, 60%);
      }
      &:nth-child(2) {
        background: #2982b9;
        background: hsl(203, 64%, 44%);
        background: hsl(204, 65%, 45%);
        background: hsl($hue, 65%, 45%);
      }
      &:nth-child(3) {
        background: #1f5378;
        background: hsl(205, 59%, 30%);
        background: hsl(204, 45%, 30%);
        background: hsl($hue, 45%, 30%);
      }
    }
  }
  .test4 {
    width: 60px;
    height: 30px;
    background: hsl(120, 75%, 50%);
    margin-top: 10px;
  }
  .square {
    width: 50px;
    height: 50px;
    background: #0001;
  }
  .mt10 {
    margin-top: 10px;
  }
  .red {
    background: #d00;
  }
}
